 [Unit]
Description=Disable wakeup on mouse-move (Logitech G102)
After=default.target

[Service]
ExecStart=/lib/systemd/system-sleep/config-G102-wakeup.sh disabled

[Install]
WantedBy=default.target