[Desktop Entry]
Categories=Development;
Comment[zh_CN]=
Comment=
Exec="$HOME/STM32CubeMX/STM32CubeMX" %u
GenericName[zh_CN]=
GenericName=
Icon=/home/xy/STM32CubeMX/help/STM32CubeMX.png
MimeType=text/CubeMX-ioc;
Name[zh_CN]=CubeMX
Name=CubeMX
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
